{% extends 'main/base.html' %}

{% block title %}Режимы{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/table.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/font-awesome.min.css') }}">
  <style>
    /* Стиль для кнопки по центру */
    .centered-button {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .centered-button a {
      padding: 10px 20px;
      font-size: 16px;
      text-decoration: none;
      background-color: #28a745;
      color: white;
      border-radius: 5px;
    }

    .centered-button a:hover {
      background-color: #218838;
    }
  </style>
{% endblock %}

{% block content %}

<form method="post" class="form-control d-flex flex-row gap-2" id="teacherForm">
  {{ form.csrf_token }}
  {{ form.teacher }}
  <input type="submit" class="btn btn-success" value="Показать">
</form>



<!-- Центрируем кнопку под таблицей -->
<div class="centered-button">
  <a href="{{ url_for('post.create') }}">Создание очереди</a>
</div>
<div class="table-responsive custom-table-responsive">
  <table class="table custom-table">
    <thead>
      <tr>
        <th scope="col">Создатель</th>
        <th scope="col">Тема</th>
        <th scope="col"></th>
        <th scope="col">Тег</th>
        <th scope="col">Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr scope="row">
        <td>{{ post.author.name }}</td>
        <td>{{ post.topic }}</td>
        <td>{{ post.maximum }}</td>
        <td>{{ post.random_hex }}</td>
          <td>
          <a href="{{ url_for('post.delete', id=post.id) }}" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></a>
          <a href="{{ url_for('post.show_queue', random_hex=post.random_hex) }}" class="btn btn-sm btn-secondary"><span class="fa fa-angle-right"></span></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}
