{% extends 'main/base.html' %}

{% block title %}Редактирование темы {{ post.id }}{% endblock %}

{% block content %}
<form method="post" class="form-control d-flex flex-column gap-2">
    <input value="{{ post.teacher }}" name="teacher" type="text" placeholder="ФИО Преподавателя" class="form-control">
    <input value="{{ post.subject }}" name="subject" type="text" placeholder="Тема" class="form-control">
    <input value="{{ post.student }}" name="student" type="text" placeholder="ФИО Студента" class="form-control">
    <input value="Обновить" type="submit" class="btn btn-success">
</form>
{% endblock %}