@import url('fonts.css');

body{
    background: #997404;
    color: purple;
}

.page{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    position: sticky;
    top: 0;
}

.content {
    max-width: 800px;
    margin: auto;
    padding: 40px 20px;
    flex: 1 1 auto;
}

h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

.header__img{
    display: block;
    width: 36px;
    height: 36px;
}

.container{
    width: 100%;
    max-width: 2500px;
    margin: 0 auto;
}

