{% extends 'main/base.html' %}

{% block title %}Выбор диапазона{% endblock %}

{% block extra_styles %}
    <style>
        .button-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }
        .button-group button {
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="button-group">
        <a href="{{ url_for('flast.task1') }}">
            <button>1-9</button>
        </a>
        <a href="{{ url_for('flast.task2') }}">
            <button>10-99</button>
        </a>
        <a href="{{ url_for('flast.task3') }}">
            <button>100-999</button>
        </a>
    </div>
{% endblock %}
