{% extends 'main/base.html' %}

{% block title %}Выбор диапазона{% endblock %}

{% block extra_styles %}
    <style>
        .toggle-group {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        .toggle-group label {
            margin-right: 10px;
        }
        .toggle-group input {
            margin-right: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    <form method="POST">
        <div class="toggle-group">
            <input type="radio" id="range1" name="range" value="1" checked>
            <label for="range1">1-10</label>
        </div>
        <div class="toggle-group">
            <input type="radio" id="range2" name="range" value="2">
            <label for="range2">11-100</label>
        </div>
        <div class="toggle-group">
            <input type="radio" id="range3" name="range" value="3">
            <label for="range3">101-1000</label>
        </div>
        <button type="submit">Использовать изменения</button>
    </form>
{% endblock %}
